html{
    height: 100%;
    background: linear-gradient(#0046ae, #9198e5);
}
div{
    width: 270px;
    height: 400px;
    margin: 0px auto;
    border-radius: 10px;
    margin-top: 194.5px;
    background: linear-gradient(rgba(171, 179, 192, 0.694), rgba(220, 234, 248, 0.674));
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.527);
}
div:hover{
    background : linear-gradient(rgba(171, 179, 192, 0.796), rgba(220, 234, 248, 0.792));
}
.head{
    color: white;
    padding-top: 5px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 9px black;
}
img{
    width: 210px;
    height: 210px;
    border-radius: 10px;
    margin-left: 30px;
}

img:hover{
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.596);
    transition: 0.2s;
}
.name-song{
    color: white;
    padding-top: 5px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 9px black;
    margin: 0px;
}
.name-singer{
    color: rgb(54, 54, 54);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 9px black;
    margin: 0px;
}
.name-singer:hover{
    cursor: pointer;
    color: rgb(36, 36, 36);
}
.timesagi{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 10px;
    padding-left: 10px;
    margin:0;
}

input{
    width:225px;
    margin-left: 21px;
    
}

.play,
.back,
.for{
    display:inline-block;
    border-color: #ffffff;
    width:45px;
    height:45px;
    border-radius: 50%;
}


.Buttoms{
    text-align: center;
    display:inline-block;
    padding-left: 44px;
}


li{
    margin-right: 20px;
    display : inline-block;
}
.timesagi1{
    padding-left: 13.1px;
}
.timesagi2{
    padding-left: 109px;
}

